$family-sans-serif: "Nunito", sans-serif;
$primary: #155d87;
$info: #409e96;
$success: #70b58a;
$warning: #edef51;
$danger: #cc2851;
$link: $info;
$link-hover: $success;
$body-background-color: whitesmoke;
